<header class="header d-flex justify-content-center align-items-center ">
  <h1><%= @list.name %></h1>
</header>

<body>
  <div class="container">
    <ul>
      <% @bookmarks.each do |bookmark| %>
      <% movie_id = bookmark.movie_id %>
      <% movie = Movie.find(movie_id) %>
      <li> <%= movie.title %> ~ <em>"<%=  bookmark.comment  %>"</em>
      <%= link_to "Delete bookmark", list_bookmark_path(@list, bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </li>
      <% end %>
    </ul>

    <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
    <%= link_to "See all lists", lists_path(@lists) %>
  </div>
</body>



<body>
  <div class="container">
    <div>


        <div class="col-3">

        </div>
      </div>
    </div>
  </div>
</body>
